{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">
    <body>
        
        <div class="container">
            <h1>
                Add Course
            </h1>
        </div>
        
        <form action="/add_course/" method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="exampleFormControlInput1">Course Name</label>
                <input name="course_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Course Nickname">
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlInput1">Teacher's Namer</label>
                <input name="teacher_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Teacher's Nickname">
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Course Description</label>
                <textarea name="course_description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlInput1">Class Location</label>
                <input name="class_location" type="text" class="form-control" id="exampleFormControlInput1" placeholder="4 Digit Class">
            </div>  
            
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Add Course">
          
        </form>
{% endblock %}
