{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">
    <body>
        
        <div class="container">
            <h1>
                Add Student To Course
            </h1>
        </div>
        
        <form action="/add_student/" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="exampleFormControlSelect1">Course select</label>
                    <select name="course_taken" class="form-control" id="exampleFormControlSelect1">
                        {% for i in course %}
                        
                        <option>{{i}}</option>
                        
                        {% endfor %}
                    </select>
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlInput1">Student Name</label>
                <input name="student_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Student Nickname">
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlInput1">Absence Number</label>
                <input name="absence_number" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Absence Number">
            </div>
            
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Add Student">
          
        </form>
{% endblock %}
