{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css\style.css' %}">
    <body>
        <div class="container">
            
            <h1>
                All Course
            </h1>
       
        </div>
        
        <table class="table">
            <thead class="thead-dark">
              <tr>
                
                <th scope="col">Course Name</th>
                <th scope="col">Teacher's Name</th>
                <th scope="col">Course Description</th>
                <th scope="col">Class Location</th>

                <th scope="col">Update Course</th>
                <th scope="col">Delete Course</th>  

                <th scope="col">Course's Detail</th>
              
            </tr>
            </thead>
            <tbody>
              {% for i in course %}
                <tr>
                  <td>
                    {{i.course_name}}
                  </td>
                  <td>
                    {{i.teacher_name}}
                  </td>
                  <td>
                    {{i.course_description}}
                  </td>
                  <td>
                    {{i.class_location}}
                  </td>
                  
                  </td>
                  
                  <td><a class="btn btn-sm btn-info" href="{% url 'update_course' i.course_id %}">Update</a></td>
                  <td><a class="btn btn-sm btn-danger" href="{% url 'delete_course' i.course_id %}">Delete</a></td>

                  <td><a class="btn btn-sm btn-success" href="{% url 'detail_course_page' i.course_id %}">Detail</a></td>
                
                </tr>
              {% endfor %}
            </tbody>
          </table>
          
{% endblock %}
