{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">


<br><br><br><br><br><br><br>
<div class="container">
			
    <p>Are you sure want to delete this course: {{course}}?</p>

    <form action="{% url 'delete_course' course.course_id  %}" method="POST">
        
        {% csrf_token %}
        
        <div class="text-center">
            <input class="btn btn-danger" type="submit" value="Delete">
            <a class="btn btn-warning" href="{% url 'all_course_page' %}">Cancel</a>
        </div>
        
    </form>	
</div>
{% endblock %}
