{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css\style.css' %}">
    <body>
        <div class="container">
            
            <h1>
                All Student in This Course
            </h1>
       
        </div>
        
        <table class="table">
            <thead class="thead-dark">
              <tr>
                
                <th scope="col">Student Name</th>
                <th scope="col">Absence Number</th>

                <th scope="col">Presence?</th>
              
            </tr>
            </thead>
            <tbody>
              {% for i in students %}
                <tr>
                  <td>
                    {{i.student_name}}
                  </td>
                  <td>
                    {{i.absence_number}}
                  </td>
                  
                  <td><a class="btn btn-sm btn-info"">Presence</a></td>
                
                </tr>
              {% endfor %}
            </tbody>
          </table>
          
{% endblock %}