{% extends 'home/base.html' %}
{% block content %}
{% load static %}
  <body>
      <div class="jumbotron bg-transparent" style="margin-top: 150px">
        <div class="container"></div>
          
        <h1 style= "text-align: center" class="display-4">
            Hello guys &#9995<br><br>
            This is your NEW presence system!<br>
           
        </h1><br>
            <div class="text-center">
              <a class="btn btn-primary btn-lg" style= "align= center" href='/presencing_page/' button">Start assess attendance</a>
              <a class="btn btn-primary btn-lg" style= "align= center" href='/add_course_page/' button">Add course</a>
              <a class="btn btn-primary btn-lg" style= "align= center" href='/add_student_page/' button">Add Student</a>
            </div>
        </div>
      </div>
{% endblock %}