{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">

<br><br><br><br><br><br><br>
<div class="col">
	
    <form action="" method="POST">
        
        <table class="table">
            {% csrf_token %}
            
            <thead class="thead-dark">
                <tr>
                    <th scope="row">Keterangan</th>
                    <th scope="row">Updated Course Form</th>
                </tr>
            </thead>
            
            <tbody>
              <tr>
                {{form}}
              </tr>
              <tr>
            
            </table>
				
        <div class="text-center">
            <input class="btn btn-info" type="submit" value="Update">
            <a class="btn btn-warning" href="{% url 'all_course_page' %}">Cancel</a>
        </div>

			</form>
</div>
{% endblock %}